.Skeleton-quoteTransition {
    animation: quoteForming 2.5s linear;
    animation-iteration-count: 1;
    padding-top: 100px;
    display: grid;
    place-items: center;

    font-size: 24px;
    color: rgb(90, 100, 46);
}

@keyframes quoteForming {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.Skeleton-ReachingOut {
    background-image: url("../../../dist/ReachingOut.png");
    height: 300px;
    width: 300px;
    background-size: 300px;
}