.Navigation-container {
    background-color: rgb(121, 124, 110);
}

.Navigation-link,
.Navigation-link:visited {
    margin: var(--m);
    text-decoration: none;
    color: white;
}

.Navigation-mainlink {
    font-size: var(--l);
}

.Navigation-normalLinks {
    display: inline-flex;
    justify-self: flex-start;
}

